PORT=5000
MONGODB_URI=mongodb://01abhishekwani_db_user:Y4gKW90podxS8oU7@ac-ga42bfj-shard-00-00.nkcaa61.mongodb.net:27017,ac-ga42bfj-shard-00-01.nkcaa61.mongodb.net:27017,ac-ga42bfj-shard-00-02.nkcaa61.mongodb.net:27017/?ssl=true&replicaSet=atlas-7d2y42-shard-0&authSource=admin&appName=Cluster0
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH=$2b$12$498lyAxAfjN0Z1GlZ6lWh.Yi6gfQLi.B5XPvzZn//.nlJgZYTbQfO
JWT_SECRET=30b60b57cb821a8eac6d2a5a0a833fe573ddb13d1cce8567aeceb6d071fb18eb1052edd184a8047a279817179182d655
